
*.idea*
*__pycache*

############## Control_code sub repo
Control_code/Library/RobotCalibration/
Control_code/TestScripts
Control_code/Plots/
Control_code/Data/

############## Robot code sub repo
robot_code/.Trash-1000/
robot_code/System Volume Information/

############## Updater sub repo
Updater/staging/
